<div class="main-container">
<button nz-button nzType="primary" (click)="addUser()">
  <i nz-icon nzType="plus" nzTheme="outline"></i>
</button>
  <nz-table #basicTable 
  [nzData]="(users | async) ?? []" 
  [nzBordered]="true" 
  [nzSize]="'small'" 
  [nzPageSize]="6"
  [nzPageIndex]="pageIndex"
  (nzPageIndexChange)="onPageChange($event)">
    <thead>
      <tr>
        <th nzWidth="25%">First Name</th>
        <th nzWidth="25%">Last Name</th>
        <th nzWidth="25%">Email</th>
        <th nzWidth="25%">Age</th>
        <th nzWidth="25%">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of (users | async)?.slice((pageIndex - 1) * 6, pageIndex * 6) ?? []">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.address }}</td>
        <td>
            <button nz-button nzType="primary" (click)="editUser(user)">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            <button nz-button nzType="primary" (click)="deleteUser(user)">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
